USE [master]
GO
/****** Object:  Database [SIPAS_KhaoSat]    Script Date: 01/06/2025 21:39:25 ******/
CREATE DATABASE [SIPAS_KhaoSat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIPAS_KhaoSat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SIPAS_KhaoSat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIPAS_KhaoSat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SIPAS_KhaoSat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIPAS_KhaoSat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIPAS_KhaoSat]
GO
/****** Object:  Table [dbo].[SIPAS_CauHoi]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_CauHoi](
	[MaCauHoi] [int] NOT NULL,
	[MaNhom] [tinyint] NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[LoaiThangDo] [tinyint] NULL,
	[MaNhomLuaChon] [tinyint] NULL,
	[BatBuoc] [bit] NOT NULL,
	[ChonNhieu] [bit] NOT NULL,
	[SoLuongChon] [tinyint] NOT NULL,
	[SuDung] [bit] NOT NULL,
 CONSTRAINT [PK_SIPAS_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DanToc]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DanToc](
	[MaDanToc] [tinyint] NOT NULL,
	[TenDanToc] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanToc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DapAn]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DapAn](
	[MaDapAn] [int] NOT NULL,
	[MaCauHoi] [int] NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[YKienKhac] [bit] NOT NULL,
 CONSTRAINT [PK_SIPAS_DapAn] PRIMARY KEY CLUSTERED 
(
	[MaDapAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DapAn_YKienKhac]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DapAn_YKienKhac](
	[MaDapAn] [int] NOT NULL,
	[YKienKhac] [nvarchar](500) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DoiTuongKhaoSat]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DoiTuongKhaoSat](
	[MaDoiTuong] [bigint] IDENTITY(1,1) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DoTuoi] [tinyint] NOT NULL,
	[MaDanToc] [tinyint] NULL,
	[MaHocVan] [tinyint] NULL,
	[MaNgheNghiep] [tinyint] NULL,
	[MaNoiSong] [tinyint] NULL,
	[YKienKhac] [nvarchar](4000) NULL,
	[NgayKhaoSat] [datetime2](7) NULL,
	[MaDot] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DotKhaoSat]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DotKhaoSat](
	[MaDot] [int] NOT NULL,
	[TenDot] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](4000) NULL,
	[BatDau] [datetime2](7) NOT NULL,
	[KetThuc] [datetime2](7) NULL,
 CONSTRAINT [PK_SIPAS_DotKhaoSat] PRIMARY KEY CLUSTERED 
(
	[MaDot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DotKhaoSat_CauHoi]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi](
	[MaDot] [int] NULL,
	[MaCauHoi] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_DoTuoi]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_DoTuoi](
	[MaDoTuoi] [tinyint] NOT NULL,
	[TenDoTuoi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoTuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_KetQua]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_KetQua](
	[MaLuaChon] [tinyint] NULL,
	[MaDapAn] [int] NULL,
	[MaCauHoi] [int] NULL,
	[LoaiThangDo] [tinyint] NULL,
	[Diem] [smallint] NULL,
	[MaDoiTuong] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_KetQuaTongHop]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_KetQuaTongHop](
	[MaLuaChon] [tinyint] NULL,
	[MaDapAn] [int] NULL,
	[MaCauHoi] [int] NULL,
	[LoaiThangDo] [tinyint] NULL,
	[Diem] [smallint] NULL,
	[SoNguoiChon] [int] NULL,
	[TongDiem] [int] NULL,
	[MaDot] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_LuaChon]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_LuaChon](
	[MaLuaChon] [tinyint] NOT NULL,
	[MaNhomLuaChon] [tinyint] NULL,
	[Nhan] [nvarchar](50) NOT NULL,
	[Diem] [smallint] NOT NULL,
 CONSTRAINT [PK_SIPAS_LuaChon] PRIMARY KEY CLUSTERED 
(
	[MaLuaChon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_NgheNghiep]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_NgheNghiep](
	[MaNgheNghiep] [tinyint] NOT NULL,
	[TenNgheNghiep] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNgheNghiep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_NhomChiSo]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_NhomChiSo](
	[MaNhom] [tinyint] NOT NULL,
	[MaCapCha] [tinyint] NULL,
	[TenNhom] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_SIPAS_NhomChiSo] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_NhomLuaChon]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_NhomLuaChon](
	[MaNhomLuaChon] [tinyint] NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[SoLuaChon] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_SIPAS_NhomLuaChon] PRIMARY KEY CLUSTERED 
(
	[MaNhomLuaChon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_NoiSinhSong]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_NoiSinhSong](
	[MaNoiSong] [tinyint] NOT NULL,
	[TenNoiSong] [nvarchar](100) NOT NULL,
	[KhuVuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNoiSong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPAS_TrinhDoHocVan]    Script Date: 01/06/2025 21:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPAS_TrinhDoHocVan](
	[MaHocVan] [tinyint] NOT NULL,
	[TenHocVan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocVan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIPAS_DoiTuongKhaoSat] ADD  DEFAULT (getdate()) FOR [NgayKhaoSat]
GO
ALTER TABLE [dbo].[SIPAS_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK__SIPAS_Cau__MaNho__66603565] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[SIPAS_NhomLuaChon] ([MaNhomLuaChon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SIPAS_CauHoi] CHECK CONSTRAINT [FK__SIPAS_Cau__MaNho__66603565]
GO
ALTER TABLE [dbo].[SIPAS_CauHoi]  WITH CHECK ADD FOREIGN KEY([MaNhomLuaChon])
REFERENCES [dbo].[SIPAS_NhomLuaChon] ([MaNhomLuaChon])
GO
ALTER TABLE [dbo].[SIPAS_DapAn]  WITH NOCHECK ADD FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[SIPAS_CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[SIPAS_DapAn_YKienKhac]  WITH NOCHECK ADD FOREIGN KEY([MaDapAn])
REFERENCES [dbo].[SIPAS_DapAn] ([MaDapAn])
GO
ALTER TABLE [dbo].[SIPAS_DapAn_YKienKhac]  WITH NOCHECK ADD  CONSTRAINT [FK_SIPAS_DapAn_YKienKhac_SIPAS_DapAn] FOREIGN KEY([MaDapAn])
REFERENCES [dbo].[SIPAS_DapAn] ([MaDapAn])
GO
ALTER TABLE [dbo].[SIPAS_DapAn_YKienKhac] NOCHECK CONSTRAINT [FK_SIPAS_DapAn_YKienKhac_SIPAS_DapAn]
GO
ALTER TABLE [dbo].[SIPAS_DoiTuongKhaoSat]  WITH CHECK ADD  CONSTRAINT [FK_DoiTuongKhaoSat_DoTuoi] FOREIGN KEY([DoTuoi])
REFERENCES [dbo].[SIPAS_DoTuoi] ([MaDoTuoi])
GO
ALTER TABLE [dbo].[SIPAS_DoiTuongKhaoSat] CHECK CONSTRAINT [FK_DoiTuongKhaoSat_DoTuoi]
GO
ALTER TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi]  WITH NOCHECK ADD FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[SIPAS_CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi]  WITH NOCHECK ADD FOREIGN KEY([MaDot])
REFERENCES [dbo].[SIPAS_DotKhaoSat] ([MaDot])
GO
ALTER TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi]  WITH NOCHECK ADD  CONSTRAINT [FK_SIPAS_DotKhaoSat_CauHoi_MaCauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[SIPAS_CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi] CHECK CONSTRAINT [FK_SIPAS_DotKhaoSat_CauHoi_MaCauHoi]
GO
ALTER TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi]  WITH NOCHECK ADD  CONSTRAINT [FK_SIPAS_DotKhaoSat_CauHoi_MaDot] FOREIGN KEY([MaDot])
REFERENCES [dbo].[SIPAS_DotKhaoSat] ([MaDot])
GO
ALTER TABLE [dbo].[SIPAS_DotKhaoSat_CauHoi] CHECK CONSTRAINT [FK_SIPAS_DotKhaoSat_CauHoi_MaDot]
GO
ALTER TABLE [dbo].[SIPAS_KetQua]  WITH NOCHECK ADD  CONSTRAINT [FK_SIPAS_KetQua_MaDapAn] FOREIGN KEY([MaDapAn])
REFERENCES [dbo].[SIPAS_DapAn] ([MaDapAn])
GO
ALTER TABLE [dbo].[SIPAS_KetQua] NOCHECK CONSTRAINT [FK_SIPAS_KetQua_MaDapAn]
GO
ALTER TABLE [dbo].[SIPAS_KetQua]  WITH CHECK ADD  CONSTRAINT [FK_SIPAS_KetQua_MaDoiTuong] FOREIGN KEY([MaDoiTuong])
REFERENCES [dbo].[SIPAS_DoiTuongKhaoSat] ([MaDoiTuong])
GO
ALTER TABLE [dbo].[SIPAS_KetQua] CHECK CONSTRAINT [FK_SIPAS_KetQua_MaDoiTuong]
GO
ALTER TABLE [dbo].[SIPAS_KetQua]  WITH CHECK ADD  CONSTRAINT [FK_SIPAS_KetQua_MaLuaChon] FOREIGN KEY([MaLuaChon])
REFERENCES [dbo].[SIPAS_LuaChon] ([MaLuaChon])
GO
ALTER TABLE [dbo].[SIPAS_KetQua] CHECK CONSTRAINT [FK_SIPAS_KetQua_MaLuaChon]
GO
ALTER TABLE [dbo].[SIPAS_KetQuaTongHop]  WITH NOCHECK ADD  CONSTRAINT [FK_SIPAS_KetQuaTongHop_MaDapAn] FOREIGN KEY([MaDapAn])
REFERENCES [dbo].[SIPAS_DapAn] ([MaDapAn])
GO
ALTER TABLE [dbo].[SIPAS_KetQuaTongHop] NOCHECK CONSTRAINT [FK_SIPAS_KetQuaTongHop_MaDapAn]
GO
ALTER TABLE [dbo].[SIPAS_KetQuaTongHop]  WITH NOCHECK ADD  CONSTRAINT [FK_SIPAS_KetQuaTongHop_MaDot] FOREIGN KEY([MaDot])
REFERENCES [dbo].[SIPAS_DotKhaoSat] ([MaDot])
GO
ALTER TABLE [dbo].[SIPAS_KetQuaTongHop] CHECK CONSTRAINT [FK_SIPAS_KetQuaTongHop_MaDot]
GO
ALTER TABLE [dbo].[SIPAS_KetQuaTongHop]  WITH CHECK ADD  CONSTRAINT [FK_SIPAS_KetQuaTongHop_MaLuaChon] FOREIGN KEY([MaLuaChon])
REFERENCES [dbo].[SIPAS_LuaChon] ([MaLuaChon])
GO
ALTER TABLE [dbo].[SIPAS_KetQuaTongHop] CHECK CONSTRAINT [FK_SIPAS_KetQuaTongHop_MaLuaChon]
GO
ALTER TABLE [dbo].[SIPAS_LuaChon]  WITH CHECK ADD FOREIGN KEY([MaNhomLuaChon])
REFERENCES [dbo].[SIPAS_NhomLuaChon] ([MaNhomLuaChon])
GO
ALTER TABLE [dbo].[SIPAS_NhomChiSo]  WITH CHECK ADD FOREIGN KEY([MaCapCha])
REFERENCES [dbo].[SIPAS_NhomChiSo] ([MaNhom])
GO
USE [master]
GO
